{{ define "classified_table" }}
    {{ template "classified_buttons_top" . }}

    <table id="data" class="ui celled selectable striped compact table">
        <thead>
            <tr>
                <th><input type="checkbox" id="select_all"></th>
                <th>Domain</th>
                <th class="poppy" data-variation="basic" data-content="Host" style="text-align: center;"><i class="blue desktop icon"></i></th>
                <th class="poppy" data-variation="basic" data-content="Timestamp" style="text-align: center;"><i class="blue clock icon"></i></th>
                <th>Location</th>
                <th>Name</th>
                <th>Profile</th>
                <th>Linked</th>
                <th>Classified By</th>
            </tr>
        </thead>

        <tfoot>
        </tfoot>

        <tbody>
            {{ range $d := .data }}
            <tr id="autorun{{ $d.Id }}">
                <td><input class="item" type="checkbox" value="{{ $d.Id }}"></td>
                <td>{{ $d.Domain }}</td>
                <td>{{ $d.Host }}</td>
                <td>{{ $d.UtcTimeStr }}</td>
                {{ $d.LocationStr }}
                <td style="word-wrap: break-word">{{ $d.ItemName }}</td>
                <td>{{ $d.Profile }}</td>
                {{ $d.LinkedColumn }}
                <td>{{ $d.ClassifiedBy }}</td>
            </tr>
            <tr>
                <td colspan=9>{{ $d.TextStr }}</td>
            </tr>
            <tr class="childLinked{{ $d.Id }}" style="display:none">
                <td colspan=9>{{ $d.LinkedStr }}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>

    {{ template "classified_buttons_bottom" . }}
{{ end }}