{{ define "navbar" }}
    <div class="ui five item menu">
        <a class="item" href="/alerts">Alerts</a>
        <a class="active item" href="/classified">Classified</a>
        <a class="item" href="/singlehost">Single Host</a>
        <a class="item" href="/search">Search</a>
        <a class="item" href="/export">Export</a>
    </div>
{{ end }}

{{ define "content" }}

    <div class="row" style="height: 10px"> </div>
    
    <div id="no_alerts_message" class="ui warning small hidden message">
        <i class="close icon"></i>
        No alerts are selected
    </div>

    <div id="alerts_error_message" class="ui warning small hidden message">
        <i class="close icon"></i><div id="alerts_error_message_text"></div>
    </div>
    
    <form class="ui form" method="post" name="data_form" id="data_form">
        <input type="hidden" name="current_page_num" id="current_page_num" value="{{ .current_page_num }}"/>
        <input type="hidden" name="ids" id="ids" value=""/>

        {{ template "classified_table" . }}
    </form>

    <script type="text/javascript">

        // Show/hide the child data rows
        $(".togglerText").click(function(e){
            e.preventDefault();
            $('.childText'+$(this).attr('other-data')).toggle();
        });

        // Show/hide the child data rows
        $(".togglerLinked").click(function(e){
            e.preventDefault();
            $('.childLinked'+$(this).attr('other-data')).toggle();
        });

         // Select all checkbox items
        $('#select_all')
            .on('click', function() {
                $('.item').prop("checked", this.checked);
        });

        // Allows the user to close 'no alerts' message
        $('#no_alerts_message .close')
            .on('click', function() {
                $(this).parent()
                    .removeClass('visible')
                    .addClass('hidden');
        });

        // Allows the user to close 'error' message
        $('#alerts_error_message .close')
            .on('click', function() {
                $(this).parent()
                    .removeClass('visible')
                    .addClass('hidden');
        });

        // When the top "records" drop down changes, submit the HTML form so
        // that the data set is refreshed from the beginning with the new records value
        $("#num_recs_per_page").change(function(){
            var input = $("<input>").attr("type", "hidden").attr("name", "mode").val('first');
            $('#data_form').append($(input));
            $("#data_form").submit();
        });

        // When the bottom "records" drop down changes the set the top "records" drop down to the same value
        // Then submit the HTML form so that the data set is refreshed from the beginning with the new records value
        $("#num_recs_per_page_bottom").change(function(){
            $("#num_recs_per_page").val($(this).val());
            var input = $("<input>").attr("type", "hidden").attr("name", "mode").val('first');
            $('#data_form').append($(input));
            $("#data_form").submit();
        });

        $( document ).ready(function() {

            // Setup the popup's
            $('.poppy')
                .popup()
            ;

            if ("{{ .error }}" != "") {
                document.getElementById("alerts_error_message_text").innerHTML = "{{ .error }}"
                $('#alerts_error_message').addClass('visible')
                $('#alerts_error_message').removeClass('hidden')
            }

            // Select the initial "records" value within the drop down's
            $('#num_recs_per_page').val('{{ .num_recs_per_page }}');
            $('#num_recs_per_page_bottom').val('{{ .num_recs_per_page }}');

            // If the user attempts to classify without selecting/checking any alerts then display an alert
            $(document).on('click', '#unclassify', function(){
                if ($('input[type="checkbox"].item:checked').length == 0) {
                    $('#no_alerts_message').addClass('visible')
                    $('#no_alerts_message').removeClass('hidden')
                    return
                }

                // Retrieve and store all of the selected ID's
                var ids = []
                $(' input[type="checkbox"].item:checked').each(function () {
                    ids.push($(this).val())
                });

                var mode = $("<input>").attr("type", "hidden").attr("name", "mode").val('unclassify');
                $('#data_form').append($(mode));
                document.getElementById("ids").value = ids

                $("#data_form").submit();
            });
        });

    </script>
{{ end }}