{{ define "navbar" }}
<a class="navbar-brand" href="#">ARL</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavCollapse" aria-controls="navbarNavCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarNavCollapse">
  <div class="navbar-nav">
    <a class="nav-item nav-link" href="/alerts">Alerts</a>
    <a class="nav-item nav-link" href="/classified">Classified</a>
    <a class="nav-item nav-link" href="/singlehost">Single Host</a>
    <a class="nav-item nav-link" href="/search">Search</a>
    <a class="nav-item nav-link active" href="/export">Export</a>
    <a class="nav-item nav-link" href="/users">Users</a>
  </div>
</div>

<nav class="navbar-nav">
  <li class="nav-item">
    <a class="nav-link" href="/logout">Logout</a>
  </li>
</nav>
{{ end }}

{{ define "content" }}

{{ if .message }}
{{ if ne .message "" }}
  <br>
  <div class="row justify-content-md-center">
      {{.message}}
  </div>
{{ end }}  
{{ end }} 

<br>

<form class="ui form" method="post" name="export_form" id="export_form">
    <div class="row justify-content-md-center">
        <div class="col-4">
            <div class="form-group">
                <label for="export_type">Type</label>
                <select class="form-control form-control-sm" name="export_type" id="export_type">
                    <option value="0" {{ if eq .export_type 0 }}selected{{ end }} ></option>
                    <option value="1" {{ if eq .export_type 1 }}selected{{ end }} >SHA256</option>
                    <option value="2" {{ if eq .export_type 2 }}selected{{ end }} >MD5</option>
                    <option value="3" {{ if eq .export_type 3 }}selected{{ end }} >Domains</option>
                    <option value="4" {{ if eq .export_type 4 }}selected{{ end }} >Hosts</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-4">
            <button id="search" name="search" type="submit" class="btn btn-primary btn-sm">Search</button>
        </div>
    </div>

    &nbsp;

    <table id="data" class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th id="timestamp" name="timestamp" data-toggle="tooltip" data-placement="top" title="Timestamp" style="text-align: center;"><i class="far fa-clock"></i></th>
            </tr>
        </thead>

        <tbody>
            {{ range $d := .data }}
            <tr id="summary{{ $d.Id }}">
                <td>{{ $d.OtherData }}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</form>

<script type="text/javascript">
    $('#timestamp').tooltip()
</script>
{{ end }}