{{ define "navbar" }}
    <div class="ui four item menu">
        <a class="item" href="/alerts">Alerts</a>
        <a class="item" href="/singlehost">Single Host</a>
        <a class="item" href="/search">Search</a>
        <a class="item" href="/export">Export</a>
    </div>
{{ end }}

{{ define "content" }}

{{ end }}