{{ define "navbar" }}
<a class="navbar-brand" href="#">ARL</a>
{{ end }}

{{ define "content" }}

{{ if .message }}
{{ if ne .message "" }}
  <br>
  <div class="row justify-content-md-center">
      {{.message}}
  </div>
{{ end }}  
{{ end }} 

<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card my-5">
      <div class="card-body">
        <h5 class="card-title text-center">Logon</h5>
        <form class="form" action="/" method="POST">
          <input type="text" id="username" name="username" class="form-control form-control-sm" placeholder="Username" required autofocus autocomplete="off">
          <br>
          <input type="password" id="password" name="password" class="form-control form-control-sm" placeholder="Password" required autocomplete="off">
          <br>
          <button class="btn btn-primary btn-sm btn-block text-uppercase" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{ end }}