{{ define "navbar" }}
    <div class="ui four item menu">
        <a class="item" href="/alerts">Alerts</a>
        <a class="item" href="/singlehost">Single Host</a>
        <a class="active item" href="/search">Search</a>
        <a class="item" href="/export">Export</a>
    </div>
{{ end }}

{{ define "content" }}
    <form class="ui form" method="post" name="search_form" id="search_form">
        <input type="hidden" name="current_page_num" id="current_page_num" value="{{ .current_page_num }}"/>

        <div id="no_data_type_message" class="ui warning small hidden message">
            <i class="close icon"></i>
           Data type not selected
        </div>

        <div id="no_search_type_message" class="ui warning small hidden message">
            <i class="close icon"></i>
            Search type not selected
        </div>

        <div id="no_search_value_message" class="ui warning small hidden message">
            <i class="close icon"></i>
            Search value not entered
        </div>

        <div class="ui grid">

            <div class="row">
                <div class="two wide column">
                    <label for="data_type">Data</label>

                    <select class="form-control" name="data_type" id="data_type">
                        <option value="0" {{ if eq .data_type 0 }}selected{{ end }} ></option>
                        <option value="1" {{ if eq .data_type 1 }}selected{{ end }} >Alerts</option>
                        <option value="2" {{ if eq .data_type 2 }}selected{{ end }} >Autoruns</option>
                     </select>
                </div>

                <div class="four wide column">
                    <label for="search_type">Type</label>

                    <select class="form-control" name="search_type" id="search_type">
                        <option value="0" {{ if eq .search_type 0 }}selected{{ end }} ></option>
                        <option value="1" {{ if eq .search_type 1 }}selected{{ end }} >File Path</option>
                        <option value="2" {{ if eq .search_type 2 }}selected{{ end }} >Launch String</option>
                        <option value="3" {{ if eq .search_type 3 }}selected{{ end }} >Location</option>
                        <option value="4" {{ if eq .search_type 4 }}selected{{ end }} >Item Name</option>
                        <option value="5" {{ if eq .search_type 5 }}selected{{ end }} >Profile</option>
                        <option value="6" {{ if eq .search_type 6 }}selected{{ end }} >Description</option>
                        <option value="7" {{ if eq .search_type 7 }}selected{{ end }} >Company</option>
                        <option value="8" {{ if eq .search_type 8 }}selected{{ end }} >Signer</option>
                        <option value="9" {{ if eq .search_type 9 }}selected{{ end }} >SHA256</option>
                        <option value="10" {{ if eq .search_type 10 }}selected{{ end }} >MD5</option>
                     </select>
                </div>

                <div class="ten wide column">
                    <label for="search_value">Value</label>
                    <input type="text" class="form-control" name="search_value" id="search_value" value="{{ if ne .search_value "" }}{{ .search_value }}{{ end}}"/>
                </div>
            </div>

            <div class="row">
                <div class="one wide column">
                    <button id="search" name="search" type="button" class="tiny ui button">Search</button>
                </div>
            </div>

            &nbsp;
        </div>

        {{ template "search_table" . }}

    </form>

    <script type="text/javascript">

        // Allows the user to close 'no type' message
        $('#no_data_type_message .close')
            .on('click', function() {
                $(this).parent()
                    .removeClass('visible')
                    .addClass('hidden');
        });

        // Allows the user to close 'no type' message
        $('#no_search_type_message .close')
            .on('click', function() {
                $(this).parent()
                    .removeClass('visible')
                    .addClass('hidden');
        });

        // Allows the user to close 'no value' message
        $('#no_search_value_message .close')
            .on('click', function() {
                $(this).parent()
                    .removeClass('visible')
                    .addClass('hidden');
        });

        $('.ui.dropdown')
          .dropdown()
        ;

        // Search the link data
        $("#search").click(function() {

            var dataType = document.getElementById("data_type").value
            if (dataType == 0) {
                $('#no_data_type_message').addClass('visible')
                $('#no_data_type_message').removeClass('hidden')
                return
            }

            var searchType = document.getElementById("search_type").value
            if (searchType == 0) {
                $('#no_search_type_message').addClass('visible')
                $('#no_search_type_message').removeClass('hidden')
                return
            }

            var searchValue = document.getElementById("search_value").value
            if (searchValue.length == 0) {
                $('#no_search_value_message').addClass('visible')
                $('#no_search_value_message').removeClass('hidden')
                return
            }

            // Add a mode parameter
            var mode = $("<input>").attr("type", "hidden").attr("name", "mode").val('first');
            $('#search_form').append($(mode));

            $("#search_form").submit();
        });

        // When the top "records" drop down changes, submit the HTML form so
        // that the data set is refreshed from the beginning with the new records value
        $("#num_recs_per_page").change(function(){
            var input = $("<input>").attr("type", "hidden").attr("name", "mode").val('first');
            $('#search_form').append($(input));
            $("#search_form").submit();
        });

        // When the bottom "records" drop down changes the set the top "records" drop down to the same value
        // Then submit the HTML form so that the data set is refreshed from the beginning with the new records value
        $("#num_recs_per_page_bottom").change(function(){
            $("#num_recs_per_page").val($(this).val());
            var input = $("<input>").attr("type", "hidden").attr("name", "mode").val('first');
            $('#search_form').append($(input));
            $("#search_form").submit();
        });

        $( document ).ready(function() {
            // Setup the popup's
            $('.poppy')
                .popup()
            ;

            // Select the initial "records" value within the drop down's
            $('#num_recs_per_page').val('{{ .num_recs_per_page }}');
            $('#num_recs_per_page_bottom').val('{{ .num_recs_per_page }}');
        });

    </script>
{{ end }}