{{ define "navbar" }}
<a class="navbar-brand" href="#">ARL</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavCollapse" aria-controls="navbarNavCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="navbar-collapse" id="navbarNavCollapse">
  <div class="navbar-nav">
    <a class="nav-item nav-link" href="/alerts">Alerts</a>
    <a class="nav-item nav-link" href="/classified">Classified</a>
    <a class="nav-item nav-link active" href="/singlehost">Single Host</a>
    <a class="nav-item nav-link" href="/search">Search</a>
    <a class="nav-item nav-link" href="/export">Export</a>
    <a class="nav-item nav-link" href="/users">Users</a>
  </div>
</div>

<nav class="navbar-nav">
  <li class="nav-item">
    <a class="nav-link" href="/logout">Logout</a>
  </li>
</nav>
{{ end }}

{{ define "content" }}
<form class="ui form" method="post" name="data_form" id="data_form">
    <input type="hidden" name="current_page_num" id="current_page_num" value="{{ .current_page_num }}" />
    <input type="hidden" name="instance" id="instance" value="{{ .instance }}" />

    <br>
    <div class="row justify-content-md-center">
        <div class="column">
            <div class="form-group form-inline form-control-sm">  
                <label for="search_host">Host</label
                >&nbsp;
                &nbsp;
                <input type="text" class="form-control" name="search_host" id="search_host" value="{{ if ne .search_host "" }}{{ .search_host }}{{ end}}"/>
                &nbsp;
                &nbsp;
                <button id="search" name="search" type="submit" class="btn btn-primary btn-sm">Search</button>
            </div>
        </div>
    </div>

    &nbsp;

    {{ if .data }}

    {{ template "buttons_single_host_top" . }}
    <div class="row justify-content-md-center">
        <table id="data" data-toggle="table" data-detail-view="true" data-detail-formatter="detailFormatter" data-click-to-select="true">
        <thead class="thead-dark">
            <tr>
                <th data-field="id" data-visible="false"></th>
                <th class="poppy" data-toggle="tooltip" data-placement="top" title="Timestamp" style="text-align: center;"><i class="far fa-clock"></i></th>
                <th>Location</th>
                <th>Name</th>
                <th>Profile</th>
            </tr>
        </thead>

        <tbody>
            {{ range $i, $d := .data }}
            <tr>
                <td>{{ $d.Id }}</td>
                <td>{{ $d.TimeStr }}</td>
                {{ $d.LocationStr }}
                <td style="word-wrap: break-word">{{ $d.ItemName }}</td>
                <td>{{ $d.Profile }}</td>

                <span style="display: none;" id="text{{$i}}">
                    <pre>{{ $d.TextStr }}</pre>
                </span>
            </tr>
            {{ end }}
        </tbody>
    </table>
    </div>

    &nbsp;

    {{ template "buttons_single_host_bottom" . }}

    {{ else }}
        <div class="alert alert-warning" role="alert">No data</div> 
    {{ end }}

</form>

<script type="text/javascript">

// When the top "records" drop down changes, submit the HTML form so
    // that the data set is refreshed from the beginning with the new records value
    $("#num_recs_per_page").change(function () {
        var input = $("<input>").attr("type", "hidden").attr("name", "mode").val('first');
        $('#data_form').append($(input));
        $("#data_form").submit();
    });

    // When the bottom "records" drop down changes the set the top "records" drop down to the same value
    // Then submit the HTML form so that the data set is refreshed from the beginning with the new records value
    $("#num_recs_per_page_bottom").change(function () {
        $("#num_recs_per_page").val($(this).val());
        var input = $("<input>").attr("type", "hidden").attr("name", "mode").val('first');
        $('#data_form').append($(input));
        $("#data_form").submit();
    });

    $(document).ready(function () {

        var $table = $('#data');

        $table.on('expand-row.bs.table', function(e, index, row, $detail) {
            var res = $("#text" + index).html();
            $detail.html(res);
        });

        $table.on("click-row.bs.table", function(e, row, $tr) {
            if ($tr.next().is('tr.detail-view')) {
                $table.bootstrapTable('collapseRow', $tr.data('index'));
            } else {
                $table.bootstrapTable('expandRow', $tr.data('index'));
            }
        });

        // Select the initial "records" value within the drop down's
        $('#num_recs_per_page').val('{{ .num_recs_per_page }}');
        $('#num_recs_per_page_bottom').val('{{ .num_recs_per_page }}');
    });

</script>
{{ end }}