{{ define "single_host_table" }}
    {{ if eq .has_data true }}

        <table id="data" class="ui celled selectable striped compact table">
            <thead>
                <tr>
                    <th><input type="checkbox" id="select_all"></th>
                    <th class="poppy" data-variation="basic" data-content="Timestamp" style="text-align: center;"><i class="blue clock icon"></i></th>
                    <th>Location</th>
                    <th>Name</th>
                    <th>Profile</th>
                </tr>
            </thead>

            <tfoot>
            </tfoot>

            <tbody>
                {{ range $d := .data }}
                <tr id="autorun{{ $d.Id }}">
                    <td><input class="item" type="checkbox" value="{{ $d.Id }}"></td>
                    <td>{{ $d.TimeStr }}</td>
                    {{ $d.LocationStr }}
                    <td style="word-wrap: break-all">{{ $d.ItemName }}</td>
                    <td style="word-wrap: break-all"><a href="#" class="toggler" other-data="{{ $d.Id }}">{{ $d.Profile }}</a></td>
                </tr>
                <tr class="child{{ $d.Id }}" style="display:none">
                    <td colspan=8>{{ $d.OtherData }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>

    {{ end }}

    <script type="text/javascript">

        $( document ).ready(function() {

            // Setup the popup's
            $('.poppy')
                .popup()
            ;
        });

        // Show/hide the child data rows
        $(".toggler").click(function(e){
            e.preventDefault();
            $('.child'+$(this).attr('other-data')).toggle();
        });

        // Select all link checkbox items
        $('#select_all')
            .on('click', function() {
               $('.item').prop("checked", this.checked);
        });

    </script>

{{ end }}